/* ok */
html {
    margin: 0;
    padding: 0;
}

/* estilo para o botão menu */
.navbar-light .navbar-toggler {
    border: none;
}

.icone-menu {
    color: blue;
    font-size: 35px;
}

.bodyBlue {
    background-color: #0964B4;
}

.card-body {
    border: 1px solid #ececec;
}

.btn-lerMais {
    color: #0964B4;
}

/* footer */
.redes {
    font-size: 35px;
    color: #0964B4;
}

.text-footer {
    font-size: 14px;
}

.link-footer {
    color: black;
}

.link-footer:hover {
    color: red;
    text-decoration: none;
    transition: .5s;
}

@media (min-width: 320px) {
    .logo {
        width: 150px;
        height: 100px;
    }

    .bodyBlue {
        height: 200px;
    }

    .img-card {
        width: 300px;
        height: 200px;
    }

    
}

@media (min-width: 360px) {
    .logo {
        width: 150px;
        height: 100px;
    }

    .servico {
        height: 280px;
    }

    .img-card {
        width: 300px;
        height: 200px;
    }

    .card-body {
        width: 300px;
    }
}

@media (min-width: 576px) {
    .img-card {
        width: 350px;
        height: 150px;
    }

    .card-body {
        width: 350px;
    }
}

@media (min-width: 768px) {

    .logo {
        width: 250px;
        height: 130px;
    }

    .img-card {
        height: 200px;
    }

    .card-body {
        width: 350px; 
    }

    .titulo {
        font-size: 25px;
    }
    
    .textos {
        font-size: 15px;
    }
}

@media (min-width: 1200px) {
    .logo {
        width: 230px;
        height: 150px;
    }
}